body.home {

    .page-section {

        &-feed {

            section {
                @include grid-column(6);
                @include grid-media($grid-laptop) {
                    @include grid-column(6);
                }
                @include grid-media($grid-mobile) {
                    @include grid-column(2);

                    &:first-of-type {
                        margin-bottom: $base;
                    }
                }

                header {
                    margin-bottom: $base;
                }
            }

            .featured-events {
                .event-list-item {
                    padding: 0;
                    border: none;
                }
            }

        }
    }
}

.page-section {

    &-text {
        @include grid-media($grid-mobile) {
            display: block;
        }

        // No flexbox support
        .no-flexbox & {
            display: block;
        }

        > article,
        > section {
            @include grid-column(6);
            @include grid-media($grid-laptop) {
                @include grid-column(6);
            }
            @include grid-media($grid-mobile) {
                @include grid-column(2);
                display: block;
                margin-top: $large;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.map-banner {
    height: 300px;
    background: $lightGrey url("#{$imagePath}/world-map.svg") no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;

    // No flexbox support
    .no-flexbox & {
        position: relative;

        a {
            position: absolute;
            top: 40%;
            left: 40%;
        }

        // No SVG support
        .no-svgasimg & {
            background-image: url("#{$imagePath}/world-map.png");
        }
    }
}
