.contents {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  margin: $base 0;

  h3 {
    margin-top: $small;
  }
}

.page-template-page-news-and-events {

  .page-section-feed {

    section {
      @include grid-column(6);
      @include grid-media($grid-laptop) {
        @include grid-column(6);
      }
      @include grid-media($grid-mobile) {
        @include grid-column(2);

        &:first-of-type {
          margin-bottom: $base;
        }
      }
    }

    .button {
      display: inline-block;
      margin-top: $base;
    }
  }
}
