// Colour palette

$navy: #1b2547;
$darkNavy: #131a33;
$purple: #5F4b66;
$green: #3f5e5a;
$orange: #ffaa5a;

$white: #fff;
$lightGrey: #f4f4f4;
$mediumGrey: #dcdcdd;
$grey: #bfc0c0;
$darkGrey: #4c5c68;
$black: #040f0f;

$primary: $navy;
$accent: $purple;

$textColour: $black;
$headingColour: $navy;
